APP_ID=dummy22104438
API_HASH=dummyce0762f15b713a46193d1cf40de58cf8
BOT_TOKEN=dummytoken
OWNER=dummyowner
CHAT=dummychat
YT_CHANNEL_ID=dummyyoutubechannel
YT_API_KEY=dummyyoutubeapikey
DELAY_TIME=1
DOWNLOAD_VIDEO=False
